<div class="main--content">
    <div class="recent--patients table-content">
        <div class="title">
            <h2 class="section--title">All Users</h2>

        </div>
        <div class="table">
            <table id="user-table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Contact No</th>
                        <th>Status</th>
                        <th>Settings</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each users}}
                    <tr>
                        <td>{{this.name}}</td>
                        <td>{{this.email}}</td>
                        <td>{{this.contactNo}}</td>
                        {{#if this.status}}
                        <td class="confirmed">Active</td>
                        {{else}}
                        <td class="rejected">Blocked</td>
                        {{/if}}
                        <td> {{#if this.status}}<button class="btn btn-danger block"
                                user-id="{{this._id}}">Block</button>{{else}}<button class="btn btn-success unblock"
                                user-id="{{this._id}}">UnBlock</button>{{/if}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>


<script>
    $('.block').click(function () {
        const userid = $(this).attr('user-id')
         swal({
            title: "Are you sure?",
            text: "Once deleted, you will not be able to recover this imaginary file!",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) {
                    axios.patch('', {
                        userid
                    }).then(e => {
                        window.location.reload()
                    })
                } else {
                    swal("Your imaginary file is safe!");
                }
            });
    })
    $('.unblock').click(function () {
        const userid = $(this).attr('user-id')
        swal({
            title: "Are you sure?",
            text: "Once deleted, you will not be able to recover this imaginary file!",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) {
                    axios.post('', {
                        userid
                    }).then(e => {
                        window.location.reload()
                    })
                } else {
                    swal("Your imaginary file is safe!");
                }
            });


    })
</script>
<script>
    $(document).ready(function () {
        $('#user-table').DataTable();
    });
</script>